body {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

div {
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
}   

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    font-size: larger;
    color: white;
    background-color: burlywood;
}